<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Speed Dating - ML Model</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="styles/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <a class="navbar-brand" href="#"><b>Team Hitch</b></a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="research_methodology.html">Research Methodology</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="dataset_observation.html">Dataset Selection</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="dataset_analysis.html">Dataset Analysis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="model_presentation.html">ML Models Analysis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="model_prediction.html">Demo for Prediction</a>
        </li>
      </ul>
    </div>
  </nav>

    <div class="jumbotron text-center">
        <h1 class="display-4">Speed Dating - ML Model</h1>
        <hr class="my-4">
        <p><strong> Problem Statement:<br>
          The purpose of this project to see if single people can meet their prospective partner in a short amount time.<br>
          The process of speed dating involves a face-to-face session that last approximately 4 minutes. The formalized<br>
          process encourages the individuals to meet a large number of potential partners in a short period of time. During<br>
          the “date” the participants discuss whatever they want. Ideally, speed dating is based the notion that you can<br>
          tell if you are interested or not within minutes.<br>
          <br>
          The data was compiled from a study done at Columbia University and retrieved from Kaggle.</strong></p>

      </div>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-1"><a href="https://fontmeme.com/name-tags/"><img src="https://fontmeme.com/permalink/210304/e64ffba88ec9987416a482fb3a1b66ce.png" alt="name-tags" border="0" style="width: auto; height: 120px;"></a></div>
          <div class="col-md-1 offset-md-2"><img src="../static/images/hitch.png" class="float-left" alt="..." style="width: auto; height: 130px;"></div>
          <div class="col-md-1 offset-md-2"><a href="https://fontmeme.com/name-tags/"><img src="https://fontmeme.com/permalink/210304/084bf39eff8740a91c842339b31aed61.png" alt="name-tags" border="0" style="width: auto; height: 120px;"></a></div>
          <!-- <div class="col-md-2"><a href="https://icon2.cleanpng.com/20180630/fas/kisspng-alex-hitch-hitchens-romance-film-romantic-comedy-hitchhiker-5b374577a65229.9966344615303489196813.jpg" ></a></div> -->
          <!-- <div class="col-md-4 offset-md-6"><a href="https://fontmeme.com/name-tags/"><img src="https://fontmeme.com/permalink/210304/e64ffba88ec9987416a482fb3a1b66ce.png" alt="name-tags" border="0"></a></div> -->
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-1"><a href="https://fontmeme.com/name-tags/"><img src="https://fontmeme.com/permalink/210304/aa0e84798aca3eb024a84ecffe1cecc6.png" alt="name-tags" border="0" style="width: auto; height: 120px;"></a></div>
          <div class="col-md-1 offset-md-2"><a href="https://fontmeme.com/name-tags/"><img src="https://fontmeme.com/permalink/210304/1f2ebd55ca46e64e2b4f865e380547c2.png" alt="name-tags" border="0" style="width: auto; height: 120px;"></a></div>
          <div class="col-md-1 offset-md-2"><a href="https://fontmeme.com/name-tags/"><img src="https://fontmeme.com/permalink/210304/7950df42d0a25033bc57bb49f819a1d1.png" alt="name-tags" border="0" style="width: auto; height: 120px;"></a></div>
        <!-- </div>
        <div class="row text-center"></div> -->
          <div class="col-md-1 offset-md-2"><a href="https://fontmeme.com/name-tags/"><img src="https://fontmeme.com/permalink/210304/c770c07d97151f3891a4e14d449a55cf.png" alt="name-tags" border="0" style="width: auto; height: 120px;"></a></div>
        <!-- </div> -->
      </div>
</body>




</html>